*{
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.conteudo .botoes {
  display: flex;
  flex-direction: row;
}

.conteudo h3 {
  color: #fff
}